* {
    /*outline: 1px dotted red;*/
    margin: 0;
    
}
#tasks {
    vertical-align: top;
    display: inline-block;
    width: 500px;
}
#create_new {
    display: inline-block;
    width: 500px;
}
#tasks form {
    display: inline;
}
#tasks p {
    display: inline;
}
.task {
    padding: 5px 5px;
}
.edit, .delete {
    margin-top: 3px;
    vertical-align: top;
}
input[type="text"] {
    font-size: 14px;
    width: 330px;
}
#create_new input[type="submit"]{
    display: block;
}